
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!Doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <!---heading---->
  <header class="heading"> Registration-Form</header><hr>
  <!---Form starting---->
  <form *ngIf="userAddForm" [formGroup]="userAddForm" (ngSubmit)="addUser()">

    <div class="row ">
      <!--- For Name---->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="firstname">Name :</label> </div>
          <div class="col-xs-8">
            <input type="text" formControlName="uname" name="fname" id="fname"  placeholder="Enter your  Name" class="form-control ">
          </div>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="lastname">User Name :</label></div>
          <div class ="col-xs-8">
            <input type="text" name="lname"  formControlName="username" id="lname" placeholder="Enter your User Name" class="form-control last">
          </div>
        </div>
      </div>
      <!-----For email---->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="pass" >Password :</label></div>
          <div class="col-xs-8"	>
            <input type="password" name="password" formControlName="password"  id="password"placeholder="Enter your password" class="form-control" >
          </div>
        </div>
      </div>
      <!-----For Password and confirm password---->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-xs-4">
            <label class="pass">Confirm Password:</label></div>
          <div class="col-xs-8 mt-2">
            <input type="password" name="password" formControlName="repassword" id="repassword" placeholder="Enter your Confirm Password" class="form-control">
          </div>
        </div>
      </div>

      <!-----------For Phone number-------->
      <div class="col-sm-12">
        <div class ="row mt-2">
          <div class="col-xs-4 ">
            <label class="gender">User Type:</label>
          </div>

          <div class="col-xs-8  male">
            <select class="col-xs-8 form-control"
              name="userType"
              id="userType"
              formControlName="userType"
              class="form-control"

              >
              <option selected disabled value="">User Type Select</option>
              <option value="admin">admin</option>
              <option value="customer">customer</option>

            </select>
          </div>



        </div>
        <div class="col-sm-12 row m-2 mt-4">
          <div class="col-xs-4  "></div>

          <button   style="margin-left: 20px" routerLink="/login" class="btn btn-warning   col-md-3">Cancel</button>
          <button  style="margin-left: 50px" class="btn btn-warning   col-md-3">Save</button>
        </div>
      </div>
    </div>

  </form>

</div>

</body>
</html>

